/******************************************************************************* HTML */
body {
  /*background-color: #0E0E0E;*/
  background-color: #346a99;
  color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
#CONTAINER{
  margin-left: 20%;
  margin-right: 20%;
}
.weightChoice_container{
  position: relative;
  width: 100%;
  height:80%;
  margin-top: 10%;
  background-color: red;
}
.weightChoice_element{
  cursor: pointer;
}
.weightChoice_element1_{
  position: relative;
  background-color: yellow;
}
.weightChoice_sepaline{
  position: relative;
  height: 50px;
  background-color: black;
}
.weightChoice_element2_{
  position: relative;
  background-color: orange;
}
#weightChoice_submit{
  position: relative;
  height: 15px;
  width: 30;
  color: black;
  background-color: pink;
}
